# Noir build artifacts
circuits/target/
circuits/proofs/
circuits/Prover.toml
circuits/Verifier.toml

# Foundry build artifacts
contracts/cache/
contracts/out/

# Environment variables
contracts/.env

# Node modules
scripts/node_modules/
